scripts=["
# These paths must exist otherwise the following ACL applicaiton will fail, resulting in err'ing build
create path /etc/packages/EToolbox_BackPack(sling:Folder)
create service user backpack-service with path system/backpack

set ACL for backpack-service
    allow jcr:versionManagement,jcr:read,jcr:modifyAccessControl,jcr:readAccessControl,rep:write,crx:replicate,jcr:lockManagement on /etc
    allow jcr:versionManagement,jcr:read,jcr:modifyAccessControl,jcr:readAccessControl,rep:write,crx:replicate,jcr:lockManagement  on /var
end 
"]