<sly data-sly-use.statusBarModel="com.exadel.etoolbox.backpack.core.model.StatusBarModel"/>
<div class="package-status">
    <span><b>Name:</b> ${statusBarModel.name}</span>
    |
  <sly data-sly-test="${statusBarModel.group}">
    <span><b>Group:</b> ${statusBarModel.group}</span>
    |
  </sly>
  <sly data-sly-test="${statusBarModel.version}">
    <span><b>Version:</b> ${statusBarModel.version}</span>
    |
  </sly>
  <sly data-sly-test="${statusBarModel.size}">
    <span ><b>Size:</b> ${statusBarModel.size}</span>
    |
  </sly>
  <sly data-sly-test="${statusBarModel.lastBuilt}">
    <span><b>Last built:</b> ${statusBarModel.lastBuilt}</span>
    |
  </sly>
  <sly data-sly-test="${statusBarModel.lastInstalled}">
    <span ><b>Last installed:</b> ${statusBarModel.lastInstalled}</span>
    |
  </sly>
  <span data-sly-test="${statusBarModel.lastReplicated}"><b>Last replicated:</b> ${statusBarModel.lastReplicated} <b>by</b> ${statusBarModel.lastModifiedBy}</span>
</div>
<sly data-sly-include="/apps/etoolbox-backpack/admin/console/components/package/install/install.html"></sly>