<template data-sly-template.autocompleteTemplate="${@ selectedPackageGroup}">
    <sly data-sly-use.groupsModel="com.exadel.etoolbox.backpack.core.model.PackageGroups"></sly>
    <div class="coral-Form-fieldwrapper">
        <label class="coral-Form-fieldlabel">Group</label>
        <coral-autocomplete class="coral-Form-field granite-autocomplete" name="group">
            <sly data-sly-list.option="${groupsModel.options}">
                <coral-autocomplete-item
                        selected="${option.value == selectedPackageGroup ? 'true' : ''}"
                        value="${option.value}">
                    ${option.text}
                </coral-autocomplete-item>
            </sly>
        </coral-autocomplete>
    </div>
</template>