<sly data-sly-use.statusBarModel="com.exadel.etoolbox.backpack.core.model.StatusBarModel"/>
<div class="package-status">
  <span><b>Group:</b> ${statusBarModel.group}</span>
  |
  <span><b>Version:</b> ${statusBarModel.version}</span>
  |
  <span><b>Size:</b> ${statusBarModel.size}</span>
  |
  <span><b>Last built:</b> ${statusBarModel.lastBuilt}</span>
  |
  <span><b>Last installed:</b> ${statusBarModel.lastInstalled}</span>
  |
  <span><b>Last replicated:</b> ${statusBarModel.lastReplicated} <b>by</b> //todo</span>
</div>